@import '@/app/variables.module.scss';

.my_ticket_container {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  .title_container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $mobile-width) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      row-gap: 15px;
    }
  }
  .statistics_container {
    display: flex;
    column-gap: 100px;
    @media screen and (max-width: $mobile-width) {
      width: 100%;
      justify-content: space-between;
      column-gap: 0;
    }
    .title {
      color: $gray-900 !important;
      &[datatype='در حال پردازش'] {
        color: #f6a22a !important;
      }
      &[datatype='بسته'] {
        color: #5cb85c !important;
      }
    }
    .statistic {
      display: flex;
      gap: 7px;
      @media screen and (max-width: $mobile-width) {
        flex-direction: column;
      }

      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .table_container {
    width: 100%;
    // border: 1px solid green;
  }
}
