@import '@/app/variables.module.scss';

.auth_container {
  max-width: 650px;
  margin: auto;
  border: 1px solid $secondary;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 160px;
  @media screen and (max-width: $mobile-width) {
    margin-left: 10px;
    margin-right: 10px;
  }
  .children_container {
    max-width: 350px;
    margin: auto;
    display: grid;
    row-gap: 30px;
  }
}
