@import '@/app/variables.module.scss';

.auth_container {
  max-width: 400px;
  margin: auto;
  border: 1px solid $gray-300;
  border-radius: 10px;
  padding: 10px;
  margin-top: 160px;
  @media screen and (max-width: $mobile-width) {
    margin-left: 10px;
    margin-right: 10px;
  }
  .children_container {
    // max-width: 100%;
    width: 80%;
    margin: auto;

    display: grid;
    row-gap: 30px;
    @media screen and (max-width: $mobile-width) {
      width: 100%;
    }
  }
}
