@import '@/app/variables.module.scss';

.rectangle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 15px;
  border: 1px solid $primary;
  // width: 280px;
  max-width: max-content;
  border-radius: 7px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  @media screen and (max-width: $mobile-width) {
    width: 100%;
    max-width: none;
  }
  img {
    border-radius: 8px !important;
  }
}

.rectangle.selected {
  background-color: #f0f0f0;
}

.leftSide {
  display: flex;
  align-items: center;
  width: max-content;
  column-gap: 10px;
  .text {
    white-space: nowrap;
    font-size: 1.4rem;
    @media screen and (max-width: $mobile-width) {
      font-size: 1.3rem;
      white-space: wrap;
    }
  }
}
