@import './variables.module.scss';

:root {
  font-family: var(--font-yekanx);
  /* --font-yekanx: "IRANYekanXVFaNumVF", sans-serif; */
  /* --mobile-width: 768px;
  --tablet-width: 1024px;
  --desktop-width: 1025px; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
  font-size: 62.5%;
  padding-bottom: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none !important;
}

:hover.ant-btn-text {
  background-color: transparent !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
h2 {
  @media screen and (max-width: $mobile-width) {
    font-size: 1.4rem !important;
  }
  @media screen and (max-width: $tablet-width) {
    font-size: 2.4rem !important;
  }
}
.Toastify__toast {
  font-size: 1.4rem;
}
p {
  font-size: 1.6rem;
}
audio {
  height: 30px;
  background-color: $gray-200;
  border-radius: 15px;
  overflow: hidden;
  padding: 5px;
  // border: 1px solid blue;
  width: 230px;
}
audio::-webkit-media-controls-panel {
  background-color: $gray-200;
  width: 100%;
  border-radius: 15px;
  // height: 20px;
}

// audio::-webkit-media-controls-timeline-container {
//   background-color: teal;
// }
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
  background-color: $gray-200;
  border-radius: 100%;
  border: none;
  // height: 15px;
  // width: 15px;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button:focus {
  border: none;
  // height: 15px;
  // width: 15px;
}

audio::-webkit-media-controls-timeline {
  // background-color: #63db75;
  // color: #ff5722; /* رنگ خط پیشرفت */
}

/* پنهان کردن دکمه‌های اضافی */
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider-container {
  display: none; /* پنهان کردن دکمه قطع صدا و ولوم */
}
