.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
  .title {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    .link {
      font-size: 1.6rem;
      color: #0068ec;
      text-align: center;
    }
  }
}
